[submodule "BNF"]
	path = BNF
	url = https://github.com/estoc-pl/BNF
[submodule "forge-parser-kit"]
	path = forge-parser-kit
	url = https://github.com/estoc-pl/forge-parser-kit
[submodule "forge"]
	path = forge
	url = https://github.com/estoc-pl/forge
